################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TfsIterations/DesignTimeBuild/.dtbcache
/.vs/TfsIterations/v15
/.vscode
/.vs
